@{
    ViewBag.Title = "ERROR: Page Not Found";

    string path = "";
    if (HttpContext.Current.Request.QueryString["aspxerrorpath"] != null)
    {
        path = HttpContext.Current.Request.QueryString["aspxerrorpath"].ToUpper() + " cannot be found.";
    }
    else
    {
<div id="bg">
    <img src="~/Content/images/404 (2).png" />
    @*//path = "Page cannot be found.";*@
</div>
    }
}

<h2 class="text-warning">@ViewBag.Title</h2>
<p class="alert alert-warning">
    @path
</p>

